*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 10vh;
    background-color: blueviolet;
}

.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    list-style: none;
    font-size: 1.5em;
}

.link{
    color: white;
}

.details{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
    align-items: flex-end;
    height: 50vh;
    
}

.days{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 30%;
    width: 30%;
    justify-content: space-around;
    margin: 1%;
    background-color: bisque;
    border-radius: 7%;

}


form button{
    display: inline-block;
    padding: 1.1em 1.4em 0.8em 1em;
    margin: 0 0.0em 0.3em 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    border: none;
    cursor: pointer;
}
form input{
    padding: 0.9em 2.4em 0.6em 1em;
    margin: 0 0.0em 0.3em 0;
}



.currently{
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.0em;
}

.sunny{
color: orange;
font-size: 1.4em;
}
.rainy{
color: #3369ff;
font-size: 1.4em;
}

.saveButton{
    display: inline-block;
    padding: 1.1em 1.4em 0.8em 1.5em;
    margin: 0 0.0em 0.3em 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #114df5;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    border: none;
    cursor: pointer;
}

.upper{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-content: center;
}

.date {
    color: brown;
    font-size: 1.5em;
}

.temperature h3{
    color: #8A2BE2;
    display: flex;
    align-content: center;
    font-size: 1.3em;
    margin: auto;
}

  
ul {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    list-style: none;
    font-size: 1.5em;
    width: 30vw;
    align-items: flex-start;
    margin: auto;
}
  

ul li{
    display: flex;
    margin-top: 7%;
}

.deleteItem{
    padding: 0.5em 0.4em 0.8em 0.5em;
    margin: 0 0.0em 0.3em 0;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    background-color: darkred;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    border: none;
    cursor: pointer;
    margin: auto;
}



img{
      height: 200px;
      width: 200px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites{
      display: flex;
      justify-content: center;
      color: #3369ff;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 3em;
      padding: 5%;
      
}

.model{
      background-color: #3369ff;
      color: white;
      width: 30vw;
      height: 30vh;
      margin: auto;
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
}
.model > button{
    padding: 1.1em 1.4em 0.8em 1.5em;
    margin: 0 0.0em 0.3em 0;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    background-color: #8A2BA2;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    border: none;
    cursor: pointer;
    width: 30%;
    height: 20%;
}
  
.model h1{
      margin: 7%;
}

@media screen and (max-width: 600px) {
    .details {
        flex-direction: column;
        width: 100vw;
    }
    .days{
        height: 30vh;
        width: 90vw;
        flex-direction: row;
    }

    .header{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    ul li{
        margin-top: 40%
    }

    .sunny{
        color: orange;
        font-size: 1.0em;
        }
        .rainy{
        color: #3369ff;
        font-size: 1.0em;
        }

        img{
            height: 100px;
            width: 100px;
            margin-left:5%;
      }

      .upper{
        display: flex;
        height: 10vh;
        justify-content: space-between;
    }

  }